  <% comments.each do |c| %>
    <div><%= link_to c.user.name, user_path(c.user) %></div>
    <div class="d-flex">
      <div class= "pr-2"><%= c.body %></div>
      <% if c.user == current_user %>
        <%= link_to (fa_icon "trash-o"), comment_path(c), method: 'delete', class: "align-self-end" %>
      <% end %>
    </div>
  <% end %>