<div class="d-flex mr-auto align-items-center">
  <div class= "thumb-box">
    <%= link_to (render 'users/profile_pic', { user: user}),
    user_path(user.id) %>
  </div>
    <%= link_to user.name, user_path(user.id), class: "name-link ml-2" %>
</div>