<h2>You are signed in as <%=current_user.name %></h2>
<% @users.each do |u| %>
  <%= u.name %> <%= link_to 'show', user_path(u.id) %><br />
<% end %>

<%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
