<h2>You are signed in as <%=current_user.name %></h2>
<div class="row">
  <div class="col-4">
    <% @users.each do |u| %>
      <div class="d-flex align-items-center">
        <%= render 'users/user_thumb', { user: u } %>
        <%= render 'shared/request_options', { user: u, path: users_path } %>
      </div>
    <% end %>
  </div>
</div>