<div class="row">
  <div class="col-10 col-md-8 col-lg-5 col-xl-4">
    <% @users.each do |u| %>
      <div class="d-flex align-items-center justify-content-between">
        <%= render 'users/user_thumb', { user: u, date: nil } %>
        <%= render 'shared/request_options', { user: u, path: users_path, show_page: false } %>
      </div>
    <% end %>
  </div>
</div>