<div class="row">
  <div class="col-12 col-xl-4 my-2 my-xl-4 d-flex flex-column align-items-center d-lg-block">
    <%= render 'users/profile_left', { user: @user, friends: @friends } %>
  </div>

  <div class="col-12 col-xl-5 mt-4 d-flex flex-column align-items-center d-lg-block">
    <div class="w-100">  
      <% if current_user == @user %>
        <%= render 'posts/new_post' %>
      <% end %>
      <% if (current_user == @user) || (@friends.include? @user) %>
        <% if @posts.any? %>
          <%= render 'shared/feed', { posts: @posts, friends: @friends }%>
        <% end %>
      <% else %>
       <h3>You must be friends to see their posts.</h3>
      <% end %>
    </div>
  </div>

  <div class="col-9 col-md-6 col-lg-4 col-xl-3 mt-xl-4">
    <%= render 'shared/requests_section', { user: @user, friend_request_list: friend_request_list, show_page: true } %>
  </div>
</div>