<% if post.likes.any? %>
  <% if post.likes.size == 1 %>
    <p class="like-count d-inline mr-1 text-muted"><%= liker(post).name %> thinks this is meh.</p>
  <% else %>
    <p class="like-count d-inline mr-1 text-muted"><%= post.likes.size %> people think this is meh.</p>
  <% end %>
<% else %>
  <p class="like-count d-inline mr-1 text-muted">0 people think this is meh</p>
<% end %>

<% if already_liked?(post) %>
  <u><%= link_to 'unmeh', like_path(current_like(post).id), method: 'delete', class: "meh" %></u>
<% else %>
  <u><%= link_to "meh", likes_path(post: post), method: 'post', class: "meh" %></u>
<% end %>
