<li class="nav-item"><%= link_to 'Home', posts_path, class: "nav-link" %></li>
<li class="nav-item mx-4"><%= link_to 'Profile', user_path(current_user), class: "nav-link" %></li>
<li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "nav-link" %></li>