<% if friends.include?(user) %>
  <% if show_page %> <p>You are friends. For now.</p><% end %>
  <%= button_to 'Forget this fool', friendship_path(user), method: 'delete', class: "stop-btn" %>
<% elsif sent_requests.include?(user) %>
  <% if show_page %> 
    <p>Friend request sent. Not looking too good, huh bud?</p>
  <% else %>
    <p>Friend reqeust sent
  <% end %>
<% elsif received_requests.include?(user) %>
  <% if show_page %> <p>They wanna be your friend. Your call.</p><% end %>
  <%= render 'request', { request: find_request(user) } %>
<% elsif user != current_user %>
  <% if show_page %> <p>Wanna stick your neck out there?</p><% end %>
  <%= button_to 'Send Request', friend_requests_path(user_id: user.id, path: path), class: "go-btn my-3" %>
<% end %>