<div class="field form-group mb-4 d-flex flex-column position-relative">
  <%= form_for :post do |f| %>
    <%= f.text_field :body, placeholder: "What is so important?", class: "form-control" %><br /> 
    <%= f.submit 'Share with the world', class: "go-btn position-absolute right-0" %>
  <% end %>
</div>