<div class="container">
  <div class="row">
    <% if @posts.any? %>
      <%= render 'shared/feed', { posts: @posts, friends: @friends }%>
    <% end %>
    <%= render 'new_post' %>
    <%= render 'shared/links' %>
    <%= link_to 'Find new friends', users_path %>
  </div>
</div>