:root {
  --beau-blue: #bfd7eaff;
  --pewter-blue: #91aec1ff;
  --blue-munsell: #508ca4ff;
  --sea-green: #0a8754ff;
  --forest-green-traditional: #004f2dff;
}
body {
  padding-top: 75px;
}
a {
  color: var(--forest-green-traditional);
  text-decoration: none;
}
a:hover {
  color: var(--blue-munsell);
}
header {
  background: var(--forest-green-traditional);
  color: white;
}
header a {
  color: white;
  text-decoration: none;
}
.form-box {
  background: var(--beau-blue);
  padding: 25px;
  border-radius: 5px;
}
.go-btn {
  background: var(--pewter-blue);
  border-radius: 4px;
}
.form-control:focus,
.form-check-input:focus {
  border-color: var(--blue-munsell);
  box-shadow: inset 0 1px 1px var(--blue-munsell), 0 0 8px var(--blue-munsell);
}
.form-check-input:checked {
  background-color: var(--blue-munsell);
  border-color: var(--blue-munsell);
}
.prof-pic-box {
  position: relative;
  width: 230px;
}
.prof-pic {
  border-radius: 50%;
}
.edit-profile {
  position: absolute;
  bottom: 0;
  right: 0;
}
#file-uploader {
  background: var(--forest-green-traditional);
}
.error-message {
  color: var(--sea-green);
}
